.header {
  display: flex;
  align-items: center;
  padding: 5px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo {
    min-width: 250px;
  }

  .title-group {
    padding-left: 25px;

    i {
      padding-right: 5px;
    }
  }
}
