<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          home
        </i>
        Home
      </a>

      <!-- <a mat-list-item routerLink="/lancamentos">
        <i class="material-icons">
          cast
        </i>
        Lançamentos
      </a> -->

      <a mat-list-item routerLink="/populares">
        <i class="material-icons">
          tv
        </i>
        Populares
      </a>

      <a mat-list-item routerLink="/avaliados">
        <i class="material-icons">
          movie
        </i>
        Avaliados
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
