@import "../../../../assets/scss/consts";

.sidenav {
  background: $BLUE;
  width: 200px;

  a {
    color: $WHITE;

    i {
      padding-right: 10px;
    }
  }
}

.content {
  padding: 16px;
  background: $WHITE;
  color: $MEDIUM_GREY;
}
