<mat-card class="home mat-elevation-z3" role="article">
  <mat-card-title class="title">
    Welcome
  </mat-card-title>

  <mat-card-subtitle class="subtitle">
    See the biggest and latest cinema films.
  </mat-card-subtitle>

  <div>
    <mat-progress-spinner
      mode="indeterminate"
      *ngIf="showLoading === true"
    ></mat-progress-spinner>
  </div>

  <div class="section">
    <div class="container">

      <div class="card" *ngFor="let res of results">
        <a routerLink="movie/{{ res.id }}">
          <h2>
            {{ res.title }}
          </h2>

          <img mat-card-image src="https://image.tmdb.org/t/p/w500{{ res.poster_path }}" alt="{{ res.title }}" title="{{ res.title }}">

          <p>
            {{ res.overview }}
          </p>
        </a>
      </div>
    </div>
  </div>
</mat-card>
