<mat-card class="movie mat-elevation-z3" role="article">
  <mat-progress-spinner
    mode="indeterminate"
    *ngIf="showLoading === true"
  ></mat-progress-spinner>

  <img mat-card-image src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Poster do Filme: {{ movie.title }}">
  <mat-card-content>
    <h2>
      {{ movie.title }}
    </h2>

    <p>
      <small *ngFor="let item of movie.genres">
        {{ item.name }},&nbsp;
      </small>

      <small>
        {{ movie.runtime }} min.
      </small>
    </p>

    <p>
      <strong>Tagline</strong>
      {{ movie.tagline }}.
    </p>

    <p>
      <strong>Overview</strong>
      {{ movie.overview }}
    </p>

    <div class="details">
      <p>
        <strong>
          <i class="material-icons">
            tv
          </i> Status:
        </strong>
        {{ movie.status }} ({{ movie.release_date | date }})
      </p>
      <p>
        <strong>
          <i class="material-icons">
            attach_money
          </i> Budget:
        </strong>
        {{ movie.budget | currency }}
      </p>
      <p>
        <strong>
          <i class="material-icons">
            attach_money
          </i> Revenue:
        </strong>
        {{ movie.revenue | currency }}
      </p>
      <p>
        <strong>
          <i class="material-icons">
            trending_up
          </i> Vote average:
        </strong>
        {{ movie.vote_average }} / 10
      </p>
      <p>
        <strong>
          <i class="material-icons">
            trending_up
          </i> Vote count:
        </strong>
        {{ movie.vote_count }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
